Package: com.sparkle.sparkle
Name: Sparkle for Instagram
Version: 1.0.0
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS!
Homepage: https://github.com/efibalogh/Sparkle
Maintainer: efibalogh
Author: efibalogh
Section: Tweaks
Depends: mobilesubstrate
